.container {
    /*width: 710px */
}

body{
    background: #6E6E6E; /*#E4F6F8 */
}

section {
    margin-top: 1em;
    font-size: 120%;
    padding: 20px;
    background: #404F73; /* #0A3782 */  /* #EEF66C */
}

#main_content{
    background: url("/images/background.png") repeat-y  scroll center;
}

#incoming_msg li{
  list-style-type: none;
}

section a{
  color: #fcc;
}

section a:visited{
  color: #fcc;
}

.users li{
  list-style-type: none;
  list-style: none;
}

ul.users{
  margin-top: 2em;
}


a{
    color: #09c;
}

a:hover {
    color: #069;
    text-decoration: underline;
}

a:visited {
    color: #069;
}

nav {
    background-color: white;
    white-space: nowrap;
}

nav ul {
    margin: 0;
    padding: 5px;
    text-align: center;
}

nav ul li {
    display: inline-block;
    list-style-type: none;
    padding: 0.4em 0;
}

nav ul li a {
    padding: 0 5px;
    font-weight: bold;
}

a.signup_button{
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
    width: 190px;
    color: #fff;
    background: #1E4CBE;
    font-size: 150%;
    font-weight: bold;
    padding: 20px;
}

.round {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 2px solid gray;

    /* create drop shadow.. works on firefox only */
    -moz-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -webkit-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

table.profile{
    width: 100%;
    margin-bottom: 0;
}

td.main {
    width: 70%;
    padding: 1em;
}

td.sidebar {
    width: 30%;
    padding: 1em;
    vertical-align: top;
    background: #6B83BF;
}

.profile img.gravatar {
    border: 1px solid #999;
    margin-bottom: -15px;
}


table.microposts {
  margin-top: 2em;
}

table.microposts tr {
  height: 70px;
}

table.microposts tr.even td {
  background-color: slateblue;
}

table.microposts tr.odd td {
  background-color: slategray;
}

table.microposts tr td.micropost {
  border-top: 1px dotted #ccc;
  vertical-align: top;
  padding-top: 5px;
}

table.microposts tr td.micropost span.timestamp {
  display: block;
  font-size: 80%;
  color: saddlebrown;
}

form.new_micropost {
 margin-bottom: 0;
}

form.new_micropost textarea {
  height: 5em;
  margin-bottom: 0;
}


