<div id="incoming_msg"></div>

<script type="text/javascript" charset="utf-8">
  var jug = new Juggernaut();

  jug.subscribe("/chat/<%= current_user.id %>", function(data){
  var li = $("<li/>");
  li.text(data);
  $("#incoming_msg").append(li);
});

var jug2 = new Juggernaut();

  jug2.subscribe("/chat/global", function(data){
  var li = $("<li/>");
  li.text(data);
  $("#incoming_msg").append(li);

  var disp = $("#incoming_msg").scrollTop();
  $("#incoming_msg").scrollTop(disp + 30);
});

</script>


<% form_tag('/chat/send', :id => 'chat_window', :remote => true) do %>

<%= text_field_tag 'msg_body', '', :size => 15 %>
<%= hidden_field_tag 'sender', @user.name %>
<%= submit_tag 'Send Message' %>

<% end %>
