<% unless current_user?(@user) %>
 <div id="follow_form">
   <% if @user.friend?(current_user) %>
    <%= render 'unfollow' %>
   <% else %>
    <%= render 'follow'   %>
   <% end %>
 </div> 
<% end %>
