<% unless current_user?(@user) %>
 <div id="follow_form">
   <% if @user.friend?(current_user) %>
    <%= render 'unfollow' %>
   <% elsif @user.waitingForApproval?(current_user) || current_user.waitingForApproval?(@user) %>
    waiting for approval
   <% else  %>
       <%= render 'follow'   %>
   <% end %>
 </div> 
<% end %>
