<% #debugger
    #friend_req =  User.find(object[0])
 %>

<% object.each do |user| %>
    <% friend_req = User.find(user.id) %>
    <%= form_for object[0] do |f| %>
     <div class="field">
        <%=  f.label friend_req.name %> Wants to become friends with you
     </div>
     <div class="actions">
       <%= f.submit "Allow" %>
       <%= f.submit "Deny" %>
     </div>
    <% #debugger
       end %>

<% end %>