<tr> 
  <td class ="micropost">
  <span class="user"> 
    
    <% link_to feed_items.user.name, feed_items.user %>
  </span>
  <span class="content"> <%= feed_items.content %></span>
  <span class="timestamp"> 
    Posted <%= time_ago_in_words(feed_items.created_at) %> ago.
  </span>
  </td>

  <% if current_user?(feed_items.user) %>
  <td> <%= link_to "delete", feed_items, :method => :delete,
                                       :confirm => "Delete post?",
                                       :title => feed_items.content %>
  </td>  
  <% end %>
  
</tr>
