
<% flash.discard(:success) %>

var row_class = $('#user_feed tr:first').hasClass('even') ? "odd" : "even";



var content = '<%= escape_javascript(@micropost.content) %>'

$('#user_feed').prepend("<tr class=" + row_class + "><td class=\"micropost\">" +
                        content +
                        "</td></tr>");

$("textarea#micropost_content").val("");


