<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>

<%= "home.html" %>

<h2> Uconn::Facebook </h2>
<p> Welcome to Facebook style website - just for uconn! </p>

<%= link_to "Sign up now!", '#', :class => "signup_button round" %>