<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>

<%= "home.html" %>

<h1> Sample Application </h1>

<%= link_to "Sign up now!", '#', :class => "signup_button round" %>